@model IEnumerable<ShopUnifromProject.Models.OrderItem>

@{
    ViewData["Title"] = "Index";
    decimal orderCost = 0;
}

<h1>My Cart </h1>


@{
    //if the cart is full display message
    if (ViewBag.cartFull == true)
    {
        <h1>Your cart is Full Please Checkout or Remove Items</h1>
    }
}


<table class="table">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
               Quantity
            </th>
            <th>
                Size
            </th>
          
            <th>
               Price
            </th>
            <th>
               Total Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var OrderItem in Model)
        {
        <tr>
             <td>
              @OrderItem.Items.Name
             </td>
            <td>
              @OrderItem.Quantity
            </td>
                <td>
                    @OrderItem.Size
                </td>


                <td>
             @OrderItem.Items.Price
            </td>
                <td>
                    @{
                        //calculate the line item price for the order, displays it and also updates the order cost variable with the total order cost.
                        decimal costOfItem = OrderItem.Items.Price * OrderItem.Quantity;
                        orderCost = orderCost + costOfItem;                                              
                    }                                      
                    
                    <h3> $@costOfItem </h3>

                    @{
                        //if the order has not yet been paid for give the user the opition to delete it.
                        if (OrderItem.Orders.StatusId == 1)
                        {
                            <form asp-action="Delete" style="margin-top:-13%; margin-left:40%">

                                <input type="hidden" name="itemId" value="@OrderItem.ItemId"/>
                                <input type="submit" value="❌" />

                            </form>
                        }
                    }

                </td>
                

        </tr>
        }
        
    </tbody>
</table>


<!--Display the Order Cost-->
<h3>Order Cost @orderCost</h3>

@{

    var firstOrderItem = Model.FirstOrDefault();

    //check if the user as any order by checking if any items exist.
    if (firstOrderItem != null)
    {
    
    //if an order exists, that has more then one item and the status id equals one display the check out button.
        if(firstOrderItem.Orders.StatusId == 1)
        {
        <a style="color:teal;" asp-controller="Orders" asp-action="CheckOut" asp-route-id="@ViewBag.orderId">CheckOut</a>
        }
        else//if user order status dosent equal one display thank you for order message
        {
        <h3>
            Thank You for Your Order, it is now @firstOrderItem.Orders.Status.Name
        </h3>
        }

    }
    else // if user has no items in thier order.
    {
        <h3>You have no items in your order</h3>
    }



}


