


<!--This forms gahter infromation about the cusomter and thier gift. It passes the details to the ProcessOrder method in the OrderItems Controller-->
<div class="CheckoutForm">





    <h1>

        Checkout

    </h1>



    @using (Html.BeginForm("submitId", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group2">
            <h2>Upload Student Id to speed up checkout</h2>
            <label>File</label>
            <input type="file" class="form-control" name="Idfile" required />
            <span></span>
            <br />
            <br />


            <input type="submit" class="btn btn-default" value="Upload Image" name="SubmitId" />
        </div>

    }
    @if (ViewBag.itemsRemoved != null)
    {

    }

    @if (ViewBag.Results == "t")
    {
        <style>

            .form-group2 {
                display: none;
        </style>

        <h3>Thanks @ViewBag.Name </h3>

        <h3> We found your details in our system</h3>

        <br />
        <h4> Name: <b>@ViewBag.Name</b></h4>

        <h4>Student Number:<b>@ViewBag.id</b> </h4>

        <h4>Year Level:<b>@ViewBag.year </b></h4>

        <h4>DOB: <b>@ViewBag.dob</b></h4>

        <br />


    }

    @if (ViewBag.Results == "f")
    {
        <h2>Sorry We could not find you in your System</h2>
        <h3>You can countiune to checkout but details must be verifyed when collecting order</h3>
    }


    <!--Hidden Input pass OrderId to controller-->
    <input name="orderId" value="@ViewBag.OrderId" type="hidden" />








    <br /> 
    <br />




    <!--SVG image-->








    <form asp-controller="OrderItems" asp-action="ProcessOrder">

        <h3>Please Enter Your Details</h3>




                           <div>
                       <label for="FullName">Enter Your Name:</label>
                    <input type="text" id="FullName" name="fullName" value="@ViewBag.Name" required maxlength="29" title="Enter your Name" />
            </div>

            <div>
                <label for="DOB">Enter Your Date of Birth (DD/MM/YYYY):</label>
                           <input type="text" id="DOB" name="DOB" value="@ViewBag.dob" required pattern="^\d{2}/\d{2}/\d{4}$" title="Enter DOB in DD/MM/YYYY format." />
            </div>

            <div>
                <label for="Year">Enter Your Year Level (9-12):</label>
                    <input type="number" id="Year" name="Year" value="@ViewBag.year" required min="9" max="12" title="Enter Year Level between 9 and 12." />
            </div>

            <div>
                        <label for="Id">Enter Your Student Number (6-digit):</label>
                <input type="text" id="Id" name="Id" value="@ViewBag.id" required pattern="^\d{6}$" title="Enter a 6-digit student number." />
                  </div>

            <input vlaue="Go to Payment" type="submit" />
        </form>


   






    <!--CSS CODE-->
<style>

    .CheckoutForm {
        width: 90%;
        margin: 0 auto;
        background-color: #e0f2f1;
        padding: 20px;
        border-radius: 10px;
        padding: 5%;
    }



    label {
        font-weight: bold;
        color: gray;
    }


        input[type="text"],
        input[type="number"],
        textarea {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            box-sizing: border-box;
            border: 2px solid black;
            border-radius: 5px;
        }

       


    input[type="submit"] {
        background-color: black;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }



        input[type="submit"]:hover {
            background-color: gray;
        }

    input[type="color"] {
        border-radius: 28px;
        height: 4vh;
        width: 3%;
        border: none;
        overflow: hidden;
    }


    textarea {
        border-radius: 28px;
        border-color: black;
    }






    @@media only screen and (max-Width: 1200px) {

        textarea {
            margin: auto;
            width: 100%;
        }
    }



    @@media only screen and (min-Width: 1200px) {



        textarea {
            margin: auto;
            width: 50%;
        }
    }

    </style>